/*
Author: Melanie Wilkinson
File Name: Lab 4: Image Effects
Date: 9-14-2023
*/

*{
    box-sizing: border-box;
}

.square{
    float: left;
    height: 200px;
    width: 200px;
    shape-outside: square();
    mask-image: linear-gradient(rgb(0, 0, 0), transparent);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0), transparent);
}

.square img:first-child{
    position: absolute;
    mix-blend-mode: soft-light;
    filter: brightness(200%);
}